* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family:sans-serif;
 color: white;
}

html, body {
  height: 100%;
  width: 100%;
}


body{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;

}

h1{
  font-size: 200px;

  overflow: hidden;
}

h1 span{
  display: inline-block;
  
}